.container {
  background-image: url('/src/app/assets/images/Page.png');
  height: 100vh;
  background-size: cover;
  display: grid;
  grid-template-rows: 3.5rem repeat(2, 4.5rem) auto;
  justify-content: center;
  gap: 1.7rem;
}

.menuFinder {
  grid-row-start: 2;
}

.menuMy {
  grid-row-start: 3;
}
