.info {
  background-color: var(--color-background-primary);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(179, 127, 89, 0.6);
  width: 6.6rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
  height: 2.6rem;
  width: 11.2rem;
  justify-content: space-around;
  padding-left: 1.5rem;
  background-color: #fbfbfb;
}
