*,
::before,
::after {
  box-sizing: border-box;
}

.circle {
  background-color: #e3eed5;
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  position: relative;
  left: 15rem;
  bottom: 2.5rem;
}

.card {
  height: 11.563rem;
  width: 21.375rem;
  background-color: #fbfbfb;
  border-radius: 10px;
  overflow: hidden;
}
