.circle {
  background-color: #e3eed5;
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  position: absolute;
  left: 15.7rem;
  top: -3rem;
}

.image {
  border-radius: 50%;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 1.2rem;
  border: 0.2em solid;
  border-color: #fdf4ee;
}

.card {
  width: 21.375rem;
  background-color: #fbfbfb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.cardSmall {
  height: 11.563rem;
}

.cardContent {
  display: grid;
  grid-template-columns: 0.55fr 1fr 1fr 1fr;
  grid-template-rows: 2.2fr 1fr 1fr;
  row-gap: 0.4rem;
  padding: 0.7rem 0 0.7rem 0;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0.5rem 2.75rem 0 2.75rem;
}

.header {
  grid-column: 2 / span 2;
  align-self: center;
}

.text {
  grid-column-start: 2;
  align-self: center;
}

.time {
  align-self: center;
}

.icons {
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
  padding-left: 0.5rem;
}
