.header {
  width: 21.2rem;
  text-align: center;
  margin: 1rem auto;

  &__menu {
    font-size: 2.7rem;
    display: flex;
    justify-content: space-between;

    &-left svg:nth-child(2) {
      padding-left: 1rem;
    }

    &-left:hover {
      cursor: pointer;
    }

    &-right svg:first-child {
      padding-right: 1rem;
    }

    &-right:hover {
      cursor: pointer;
    }
  }

  &__heading {
    margin: 0;
  }
}
