.cardContent {
  // CardList //

  &__list {
    margin: 0.7rem 0;
  }

  // CardListRow //

  &__row {
    display: flex;
    align-items: center;
    position: relative;

    &--icon {
      width: 1rem;
      position: absolute;
      left: 0.3rem;
    }

    &--label {
      width: 7rem;
      margin-left: 1.6rem;
    }
  }
}
