.container {
  background-image: url('/src/app/assets/images/Page.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  overflow-y: scroll;
}

.header {
  padding-top: 1.5rem;
}

.link {
  padding: 1.5rem 0 1.5rem 0;
}
