.container {
  height: 100vh;
  background-size: cover;
  display: grid;
  justify-content: center;
  grid-template-rows: 5.5rem auto;
}
.cards {
  display: grid;
  row-gap: 1.2rem;
  overflow-y: scroll;
}
