@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/font/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/font/Montserrat-Regular.ttf);
  font-weight: 400;
}

:root {
  /* Fonts */
  --font-family: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Color */
  --color-text: #505151;
  --color-action: #b37f59;
  --color-card-primary: #fff;
  --color-card-secondary: #e3eed5;
  --color-card-accent: #fdf4ee;
  --color-button: rgba(230, 241, 243, 0.25);
}

body {
  font-family: var(--font-family);
  margin: 0;
}
