@font-face {
  font-family: 'Montserrat';
  src: url(src/assets/font/Montserrat-Medium.ttf),
    url(src/assets/font/Montserrat-Regular.ttf);
  font-weight: 400, 500;
}

:root {
  /* Fonts */
  --font-family-primary: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

body {
  font-family: var(--font-family-primary);
  margin: 0;
}
