@font-face {
  font-family: 'Montserrat';
  src: url(../app/assets/font/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../app/assets/font/Montserrat-Regular.ttf);
  font-weight: 400;
}

:root {
  /* Fonts */
  --font-family: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height: 1.5;

  /* Color */
  --color-text: #505151;
  --color-action: #b37f59;
  --color-card-primary: #fff;
  --color-card-secondary: #e3eed5;
  --color-card-accent: #fdf4ee;
  --color-button: rgba(230, 241, 243, 0.25);

  /* Pictures */
  --picture-start: url('/src/app/assets/images/Start.png');
  --picture-page: url('/src/app/assets/images/Page.png');

  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-medium);
}

h1 {
  font-weight: var(--font-weight-regular);
  font-size: 50px;
  text-decoration: none;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
  margin-top: 0
}

button {
  background-color: var(--color-button);
  color: var(--color-action);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  font-size: 0.8125rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(179, 127, 89, 0.6);
  width: 6.6rem;
  height: 1.5rem;
  cursor: pointer;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

#app {
  position: fixed;
}

#app,
.container {
  inset: 0;
}

.container {
  position: absolute;
  background-image: var(--picture-page);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: auto;
}

/*
.pageOne h1 {}
.pageTwo h1 {}
.pageThree h1 {}
 */
