@font-face {
  font-family: 'Montserrat';
  src: url(../app/assets/font/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../app/assets/font/Montserrat-Regular.ttf);
  font-weight: 400;
}

:root {
  /* Fonts */
  --font-family: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-size: 1rem;
  --line-height: 1.75rem;

  /* Color */
  --color-text: #505151;
  --color-action: #b37f59;
  --color-card-primary: #fff;
  --color-card-secondary: #e3eed5;
  --color-card-accent: #fdf4ee;
  --color-button: rgba(230, 241, 243, 0.25);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height);
  color: var(--color-text);
  margin: 0;
}

h1 {
  font-weight: var(--font-weight-regular);
  font-size: 3.375rem;
  line-height: normal;
}

h2 {
  font-weight: var(--font-weight-medium);
  font-size: 2.215rem;
}

h3 {
  font-weight: var(--font-weight-medium);
  font-size: 1.3125rem;
}
