.circle {
  background-color: #e3eed5;
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  position: absolute;
  left: 15.7rem;
  top: -3rem;
}

.image {
  border-radius: 50%;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 1.2rem;
  border: 0.2em solid;
  border-color: #fdf4ee;
}

.card {
  width: 21.375rem;
  height: 15.313rem;
  background-color: #fbfbfb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.cardContent {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 3.5rem repeat(4, 1fr);
  padding: 0.7rem 0 0 0.94rem;
}

.header {
  grid-column: 1 / span 2;
  align-self: center;
}

.text1 {
  grid-column-start: 1;
  align-self: center;
}
.time1 {
  align-self: center;
}
.text {
  grid-column-start: 1;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.75rem;
}

.icon {
  position: absolute;
  top: 8.5rem;
  left: 17rem;
}
