.circle {
  background-color: #e3eed5;
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  position: absolute;
  left: 15.7rem;
  top: -3rem;
}

.image {
  border-radius: 50%;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 1.2rem;
  border: 0.2em solid;
  border-color: #fdf4ee;
}

.card {
  width: 21.375rem;
  height: 15.313rem;
  background-color: #fbfbfb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.cardHead *,
.cardBottom * {
  display: flex;
  padding: 0.1rem;
}

.cardHead__status *,
.cardHead__duration * {
  flex: 0 0 25%;
}

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 1rem;
}

.cardHead {
  padding: 0 0 1rem 1rem;
}

.cardBottom {
  padding: 0 0 1rem 1rem;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 2.75rem;
}

.icon {
  position: absolute;
  top: 8.5rem;
  left: 17rem;
}
